<html>
  <head>

    <title>Gcal - visusalisation</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <link type="text/css" rel="stylesheet" href="../css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../css/jumbotron.css">
    <link type="text/css" rel="stylesheet" href="../css/calendar.css">
    <script type="text/javascript" src="../js/bootstrap.js"> </script>
    <script type="text/javascript" src="../js/d3.js"> </script>

  </head>
   <body>

    <div class="container">

      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Calendar view</a></li>
        </ul>
        <h3 class="text-muted">Work Hard</h3>
      </div>

      <div class="row"> 
		<div class="col-lg-12">
			<h3>meetings found </h3>
		</div>

		<div class="col-lg-12" id="container">
			
		</div>

      </div>

      <div class="footer">
        <p>&copy; Company 2013</p>
      </div>

    </div> <!-- /container -->



<script type="text/javascript">

/*var results = JSON.parse('<%- results%>');

console.log(results);*/

</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
